{% extends 'checker/base.html' %}

{% load widget_tweaks %}

{% block content %}

<h1>Password Generator</h1>
<style>
    .full-width-slider {
        width: 90%;
        margin-right: 5px; 
    }
    .beside-slider {
        width: 80px; 
        margin-left: 5px; 
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
</style>
<form method="post" class="password-generator-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="lengthSlider">Password Length</label>
        <div class="d-flex align-items-center">
            <input type="range" id="lengthSlider" name="lengthSlider" min="4" max="128" value="{{ form.length.value }}" oninput="syncLength(this.value)" class="form-control-range full-width-slider">
            <input type="number" id="lengthOutput" name="lengthOutput" min="4" max="128" value="{{ form.length.value }}" oninput="syncSlider(this.value)" class="form-control beside-slider">
        </div>
    </div>
    <input type="hidden" id="id_length" name="length" value="{{ form.length.value }}">
    <div class="form-check">
        {{ form.include_numbers }} <label class="form-check-label" for="id_include_numbers">Include Numbers</label>
    </div>
    <div class="form-check">
        {{ form.include_special }} <label class="form-check-label" for="id_include_special">Include Special Characters</label>
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
</form>

{% if password %}
    <div class="mt-4">
        <label for="generated_password">Generated Password:</label>
        <div class="input-group">
            <input type="text" id="generated_password" class="form-control" value="{{ password }}" readonly>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">Copy</button>
            </div>
        </div>
    </div>
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("generated_password");
            copyText.select();
            document.execCommand("copy");
        }
    </script>
{% endif %}

<script>
    function syncLength(value) {
        document.getElementById('lengthOutput').value = value;
        document.getElementById('id_length').value = value;
    }

    function syncSlider(value) {
        document.getElementById('lengthSlider').value = value;
        document.getElementById('id_length').value = value;
    }
</script>
{% endblock %}
